:root {
  --color-title-blue: #139cd9;
  --color-title-red: #c32732;
}

@font-face {
  font-family: optima;
  src: url('./fonts/Optima-ExtraBlack.otf');
}

* {
  font-family: optima, sans-serif;
}

.title {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 70px;
  padding: 30px;
  gap: 20px;
  font-weight: 900;
  text-shadow: 1px 0 0 #000, 0 -1px 0 #000, 0 1px 0 #000, -1px 0 0 #000;
}

.title-where {
  color: var(--color-title-blue);
}

.title-waldo {
  color: var(--color-title-red);
}

.title-image {
  height: 150px;
  margin-right: 10px;
}

.nav {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 100px;
  padding: 30px;
  font-size: 25px;
}

a {
  text-decoration: none;
  color: black;
}

.leader-nav-link.clicked {
  text-decoration: solid underline 4px;
  text-underline-offset: 3px;
}

.leaderboard-nav {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 15px;
  font-size: 18px;
}

.leaderboard-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

table, td, th {
  border: 2px solid black;
  padding: 15px;
  text-align: center;
}

th {
  font-size: 18px;
}

table th:nth-child(1) {
  width: 15%;
}

.no-entries {
  margin-top: 200px;
  font-size: 30px;
}

.leaderboard-list {
  width: 60%;
  border-collapse: collapse;
  margin-top: 50px;
}

.levels-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-template-rows: repeat(2, 1fr);
  gap: 50px;
  padding: 20px;
  margin-top: 50px;
}

.level-choice-img {
  width: 450px;
  height: 350px;
  border: 2px solid black;
}

.level-choice {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.level-header {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 500px;
}

.level-timer {
  font-size: 30px;
}

.character-image {
  width: 50px;
  height: 50px;
}

#characters-list {
  display: flex;
  gap: 50px;
  padding: 15px;
  padding-left: 50px;
  font-size: 18px;
}

.character {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 5px;
}

.character.found {
  filter: opacity(50%);
}

.level-image {
  position: relative;
  display: flex;
  justify-content: center;
  align-self: center;
  box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

#level-image.loading-message {
  font-size: 40px;
  text-align: center;
  margin-top: 200px;
}

.level-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#characters-modal {
  position: absolute;
  display: none;
  background-color: azure;
  flex-direction: column;
}

#win-modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: pink;
  width: 400px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#register-score-modal {
  display: none;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  background-color: pink;
  width: 400px;
  height: 400px;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}